<%= form_tag :action => 'search_result' %>
<table>
<tr>
<td><lable>Search</lable></td>
<td><%= text_field_tag 'query' %></td>
</tr>
<tr>
<td><%= submit_tag 'Search' %></td>
</tr>
</table>
<%= form_tag %>
